<html>
<head>
	<title>0x431 Forum</title>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src = "{{url_for('static', filename='forum.js')}}"></script>

	<style>
		table {border: 0.1em solid black;}
		tr {border: 0.1em solid black;}
		td {border: 0.1em solid black; padding: 0.2em;}
		.question_container {
			width: 90%;
			min-height: 4%;
			font-size: 150%;
			margin: 0% 5% 0% 5%;
			border: 1px solid black;
		}
	</style>
</head>
<body>
	
	<!-- ORANGE HEADER BAR -->
	<div style = "width: 100%; height: 8%; margin: 0% 0% 2% 0%; background-color: orange; border: 1px solid black; box-sizing: border-box;">
		<div style = "color: black; font-size: 250%; display: inline-block;">&nbsp;0x431 Cryptocurrency Exchange</div>
		<div style = "color: black; font-size: 2em; margin: 0.2em; display: inline-block; float: right;"><a style = "text-decoration: none; color: black;" href = "/">Log Out</a></div>
		<div style = "display: inline-block; float: right; background-color: black; width: 0.2%; height: 100%;"></div>
		<div style = "font-size: 2em; margin: 0.2em; display: inline-block; float: right;"><a style = "text-decoration: none; color: black;" href = "/dashboard">Dashboard</a></div>
		<input id = "search_bar" type = "text" style = "width: 30%; height: 90%; float: right; margin: 0.2% 3%; font-size: 1.5em; text-align: right; color: grey;" value = "Search&nbsp;">
	</div>
	<!--<iframe width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/63005870-00f4-4f32-89df-9ebdf320a73b"></iframe>-->

	


</body>
</html>