<html>
<head>
	<title>0x431 Cryptocurrency Exchange</title>
</head>
<body>
	<div style = "width: 100%; height: 4em; background-color: black;">
		<div style = "color: white; font-size: 3em; display: inline-block;">&nbsp;0x431 Cryptocurrency Exchange</div>
		<div style = "color: white; font-size: 2em; margin: 0.4em 0.5em 0em 0.3em; display: inline-block; float: right;">Log In</div>
	</div>

	<div id = "main_container" style = "width: 100%; height: 75%; margin-top: 5%;">
		<div id = "left_panel" style = "position: relative; background-color: black; border-radius: 20px; height: 100%; width: 30%; display: inline-block; margin-left: 10%;">
			<div id = "why0x431" style = "border: 3px solid white; width: 40%; height: 10%; position: absolute; margin-left: 30%; margin-top: 10%; text-align: center; line-height: 180%; color: white; font-size: 150%;">Why 0x431?</div>
			<div id = "intro" style = "position: absolute; border: 2px solid white; width: 80%; height: 60%; margin: 35% 5% 0% 5%; color: white; font-size: 100%; padding-left: 5%; padding-right: 5%;">
				<p><strong>One site, for all of your cryptocurrency needs.</strong><br>A one stop shop for:</p>
				<ul>
					<li>On-the-go trading</li>
					<li>Secure purchases</li>
					<li>Detailed conversion rate stats</li>
				</ul>
				<p>Our decentralized platform protects your data and your identity. Stress-free trading, for the modern age.</p>
			</div>
		</div>
		<div id = "right_panel" style = "height: 100%; width: 30%; display: inline-block; margin-left: 20%;">
			<div style = "background-color: black; border-radius: 20px; height: 60%; width: 100%;"></div>
			<div style = "background-color: black; border-radius: 20px; height: 20%; width: 100%; margin-top: 20%;"></div>
		</div>
	</div>
</body>
</html>