<html>
<body background="blockchain.jpg">
<head>
	<title>0x431 Cryptocurrency Exchange</title>
</head>
<body>
	<div style = "width: 100%; height: 4em; background-color: black;">
		<div style = "color: white; font-size: 3em; display: inline-block;">&nbsp;0x431 Cryptocurrency Exchange</div>
		<div style = "color: white; font-size: 2em; margin: 0.4em 0.5em 0em 0.3em; display: inline-block; border: 3px solid white; float: right;">Log In</div>
	</div>

	<div id = "main_container" style = "width: 100%; height: 75%; margin: 5% 0% 0% 0%;">
		<div id = "left_panel" style = "width: 30%; height: 75%; margin: 0% 0% 6% 10%; border-radius: 20px; background-color: black; position: relative; display: inline-block;">
			<div id = "why0x431" style = "width: 25%; height: 9%; margin: 15% 0% 0% 38%; border: 3px solid white; font-size: 150%; line-height: 180%; position: absolute; text-align: center; color: white;">Why 0x431?</div>
			<div id = "intro" style = "width: 65%; height: 40%; margin: 26% 0% 0% 11%; padding: 0% 7% 0% 7%; border: 2px solid white; font-size: 100%; position: absolute; color: white;">
				<p><strong>One site, for all of your cryptocurrency needs.</strong><br>A one stop shop for:</p>
				<ul>
					<li>On-the-go trading</li>
					<li>Secure purchases</li>
					<li>Detailed conversion rate stats</li>
				</ul>
				<p>Our decentralized platform protects your data and your identity. Stress-free trading, for the modern age.</p>
			</div>
		</div>
		<div id = "right_panel" style = "width: 30%; height: 100%; margin: 0% 0% 0% 17%; display: inline-block;">
			<div style = "width: 100%; height: 38%; border-radius: 20px; background-color: black;">
				<div id = "createaccount" style = "width: 10%; height: 5%; margin: 1% 0% 0% 10%; border: 3px solid white; font-size: 150%; line-height: 180%; position: absolute; text-align: center; color: white;">Create Account</div>
				<div id = "intro" style = "width: 18%; height: 15%; margin: 4% 0% 0% 4%; padding: 0% 1% 0% 2%; border: 2px solid white; font-size: 100%; position: absolute; color: white;">
					<p>No hassle account creation.</p>
					<p>Select from a variety of common authenticators (Google, Facebook, Twitter) or choose a custom username and password</p>
				</div>
			</div>
			<div style = "background-color: black; border-radius: 20px; width: 100%; height: 30%; margin: 20% 0% 0% 0%;">
				<div id = "loginhere" style = "width: 10%; height: 5%; margin: 1% 0% 0% 10%; border: 3px solid white; font-size: 150%; line-height: 180%; position: absolute; text-align: center; color: white;">Log In Here</div>
				<div id = "intro" style = "width: 18%; height: 10%; margin: 4% 0% 0% 4%; padding: 0% 1% 0% 2%; border: 2px solid white; font-size: 100%; position: absolute; color: white;">
					<p>Select from a variety of common authenticators (Google, Facebook, Twitter) or choose a custom username and password</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>